<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="dev.galasa.zos3270.storedartifacts"
         name="zOS 3270 Stored Artifacts UI elements"
         point="dev.galasa.eclipse.extension.storedartifacts.filter">
      <client
            class="dev.galasa.zos3270.ui.internal.storedartifacts.TerminalFilter">
      </client>
   </extension>

</plugin>
