name: Main build

on:
    workflow_dispatch:
    pull_request:
        branches: [main]

env:
    NAMESPACE: jaydee029

jobs:
    build-gradle:
        name: build and Test Managers
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            
            - name: Setup JDK 
              uses: actions/setup-java@v4
              with:
                java-version: '11'
                distribution: 'semeru'

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v3
              with:
                gradle-version: 6.9.2

            - name: Build ,Test and Publish Managers
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                ORG_GRADLE_PROJECT_signingKeyId:  ${{ secrets.GPG_KEY }}
                ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_SECRET }}
                ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_PASSPHRASE }}
              run: |
               gradle -b galasa-managers-parent/build.gradle check publish -Xmx4096m --info \
               -PsourceMaven=https://development.galasa.dev/main/maven-repo/extensions  \
               -PcentralMaven=https://repo.maven.apache.org/maven2/ \
               -PtargetMaven=https://maven.pkg.github.com/${{env.NAMESPACE}}/managers/ -PjacocoEnabled=true -PisMainOrRelease=true
          